#landingImage{
  background-image: url("https://img.freepik.com/free-vector/creative-office-co-working-center-university-campus-modern-workplace_48369-11863.jpg?size=626&ext=jpg");
  height: 40vh;
  opacity: 70%;
}


.landing {
  background-color: #f5f5f5;
}

.landing-inner {
  padding-top: 20px;
}
#fullcard{
  margin-left: 18%;
}

#aboutUs{
  padding: 0;
  margin: 0;
  height: 80%;
width:18rem;
text-align: center;
}

#contactUs{
  height: 80%;
  padding: 0;
  margin: 0;
  width:18rem;
  text-align: center;
}
.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

nav {
  background-color: #364f6b;
}

.navbar-brand,
.nav-link,
.nav-item {
  color: #f5f5f5;
}
.navbar-brand:hover,
.nav-link:hover {
  color: #f5f5f5;
}

/* logout button */
#btnGroupDrop1 {
  background-color: #364f6b;
  color: white;
  font-weight: bold;
}
#logout {
  color: #364f6b;
}
#logout:hover {
  color: #364f6b;
}
.dropdown-menu {
  min-width: 5rem;
  border-radius: 8px;
}
.homeLink .reportLink .leaderboardLink {
  text-align: left;
}

.btn {
  float: right;
}

footer {
  background-color: #364f6b;
  color: #f5f5f5;
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
}
/************************************ Home CSS *****************************************/

body {
  /* background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); */
  background-image: linear-gradient(90deg, #dbe2ef 100%, #dbe2ef 100%);
}

.markbtn {
  position: absolute;
  margin-top: 11%;
  right: 27%;
}

p {
  text-align: center;
}
.successmessage {
  position: absolute;
  margin-top: 13%;
  right: 27%;
}

.card {
  margin-left: 50%;
  width: 20rem;
  height: 15rem;
  background-image: linear-gradient(90deg, #dbe2ef 100%, #dbe2ef 100%);
}
/***************************************** Report Page ****************************************/
.reporttablediv {
  height: 400px;
  overflow: scroll;
}
.reporttable {
  width: 40%;
  float: left;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.reporttablediv::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.reporttablediv {
  -ms-overflow-style: none;
}

.reasontd {
  word-wrap: break-word;
  min-width: 160px;
  max-width: 160px;
}
/****************************************** LeaderBoard Page ***********************************/
.leaderboardtable {
  width: 50%;
  float: right;
  overflow: scroll;
}
.leaderboarddiv {
  width: 50%;
  float: left;
}

/******************************************** Admin Page **************************************/
.admintable {
  width: 50%;
  float: right;
  overflow: scroll;
}
.admindiv {
  width: 50%;
  float: left;
}
